<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codewithdr.bus_ticket_system">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bus_ticket_system"

        android:usesCleartextTraffic="true">
        <activity
            android:name=".admin_register"
            android:exported="false" />
        <activity android:name=".bus_details" />
        <activity android:name=".routedetail" />
        <activity android:name=".userdetails" />
        <activity android:name=".citydetail" />
        <activity android:name=".admin_login" />
        <activity android:name=".user_login" />
        <activity android:name=".register_user" />
        <activity
            android:name=".user_dashboard"
            android:exported="true">

        </activity>
        <activity
            android:name=".admin_dashboard"
            android:exported="true"></activity>
        <activity android:name=".panel_window" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>